.projects {
    margin-top: 5px;
}

.project {
    display: flex;
    align-items: space-evenly;
    margin: 0 10px 0 70px;
    background: linear-gradient(
        88deg,
        darkslategrey 0%,
        rgb(32,124,124) 100%
    );
    transition: all, ease-in-out .2s;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 10px;
    cursor: pointer;
}

.project:hover {
    transform: scale(1.1)
}

.projectLink {
    margin-right: 35px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.infoBox {
    display: flex;
    flex-direction: column;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 40px;
    margin: 0 10px 0 70px;
    background: linear-gradient(
        88deg,
        darkslategrey,
        rgb(32,124,124)
    );
    transition: all, ease-in-out .2s;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 10px;
    cursor: pointer;
    
}

.modalText2 {
    font-size: 30px;
    margin-top: -30px;
}

.link {
    display: block;
    text-decoration: none;
    color: white;
}

.hidden {
    display: none;
}

.linkIcon {
    height: 100px;
    width: 100px;
    margin-left: 10px;
    transition: all, ease-in-out .2s;
    color: white;
    cursor: pointer;
}

.linkIcon:hover{
    transform: scale(1.1);
}

.encryptorImg {
    height: 80%;
    border: solid 10px darkslategrey;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.enterLink {
    display: flex;
    align-items: center;
}