body {
    background-color: darkslategrey;
}

/* .navBar {
    display: flex;
    justify-content: space-between;
    padding: 10px 80px 10px 80px;
    color: white;
    background: linear-gradient(
        90deg,
        rgb(194,89,255)0%,
        rgb(188,202,49)100%
    );
} */

#home {
    height: 979px;
}

#about {
    height: 810px;
}

.header {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.label {
    z-index: 1;
    font-weight: bold;
    margin-top: -450px;
    margin-left: -300px;
}
/* 
.explore {
    writing-mode: vertical-lr;
    text-orientation: upright;
    color: white;
    font-size: 40px;
} */

.button {
    background: transparent;
    cursor: pointer;
    font-size: 50px;
    background-color: lightgrey;
    transition: all .2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px;
    margin: 5px;
}

.button:hover{
    text-shadow: lightgrey;
    transform: scale(1.1);
}

.sections {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: darkslategrey;
}

.section {
    min-height: 700px;
    width: 1000px;
    color: lightgrey;
    font-size: 40px;
    /* margin: 20px; */
    background: linear-gradient(
        99deg,
        rgb(01,1,5,1),
        rgb(32,124,124)
    );

}

#scrollButtons {
    display: none;
}

.myImg {
    height: 300px;
    width: 277px;
    margin-top: -50px;
    border: solid 10px lightgrey;
    border-radius: 150px;
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 254.7) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.myImg:hover{
    box-shadow: rgba(255, 255, 255, 254.7) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.vectImg {
    width: 100%;
    margin-top: -120px;
}

.homeContent {
    height: 700px;
    width: 1000px;
    color: lightgrey;
    font-size: 40px;
    margin: 20px;
    background: linear-gradient(
        99deg,
        rgb(01,1,5,1),
        rgb(32,124,124)
    );

}