.navBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    position: fixed;
    padding: 10px;
    border-radius: 10px;
    top: 100px;
}

.active {
    color: lightgrey;
    background-color: black;
    height: 60px;
    width: 60px;
    font-size: 50px;
    transition: all, ease-in-out .2s;
    cursor: pointer;
    transform: scale(1.1);
}

.active:hover {
    /* transform: scale(1.1); */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#scrollButtonPanel {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 300px;
    left: 1270px;
    top: 200px;
}

.scrollButton {
    height: 100px;
    width: 100px;
}

/* .active {
    transform: scale(3.1)
} */